.palette-holder {
	background-color: #F9F4F5;
	width: 100%;
	min-height: 200px;
	height: 100%;
	overflow-y: scroll;
}

.picked-color {
	width: 20px;
	height: 20px;
	margin: 5px;
}

.color-holder {
	display: flex;
	padding-top: 20px;
}

.palette-container {
	display: flex;
	padding: 10px;
}

.delete-btn {
	border-radius: 5px;
	height: 25px;
	width: 100px;
	margin: 3px;
}

.current-project {
	text-align: center;
	background-color: #F9F4F5;
	color: #012622;
	margin: 0;
	padding: 10px 0 0 0;
	height: 50px;
}

.palette-name {
	height: 25px;
	width: 70%;
	margin-top: 10px;
	margin-left: 5px;
	border-radius: 2px;
}

.input-holder {
	display: flex;
}

span {
	font-family: Georgia;
}

.add-palette-btn {
	width: 55px;
	height: 30px;
	margin-left: 5px;
	margin-top: 8px;
	background-color: #F9F4F5;
	color: #012622;
	border-radius: 5px;
	border: 1px solid #012622;
}


