.swatch-holder {
	width: 100%;
	height: 500px;
	display: flex;
	justify-content: center;
}

.color {
	height: 100%;
	width: 20%;
	background-color: pink;
	justify-content: center;
}

// .hex-code {
// 	margin-left: 25%;
// }